.box {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}

.box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: left;
}

.box .model_box {
    position: relative;
    width: 50vw;
}
.box .model_box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.box .model_box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.2s;
}

.box .model_box input:not(:placeholder-shown) ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.box .model_box input:placeholder-shown ~ label {
    top: 0;
    font-size: 16px;
    color: #fff;
}
.box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
}

table {
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td,
.editField {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}
.editField {
    background-color: transparent;
}

th {
    text-align: left;
}

thead th {
    background-color: #55608f;
}

/* .editField:hover,
tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #1a1a1a;
} */

tbody td {
    position: relative;
}

/* .editField:hover:before,
tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #1a1a1a;

    z-index: -1;
} */
