.title {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  gap: 50px;
}

.box {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}

.box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: left;
}

.box .model_box {
  position: relative;
  width: 100%;
}
.box .model_box input {
  padding: 10px 0;
  font-size: 16px;
  width: 100%;

  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.box .model_box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.box .model_box input:not(:placeholder-shown) ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.box .model_box input:placeholder-shown ~ label {
  top: 0;
  font-size: 16px;
  color: #fff;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}
.select_box select {
  background-color: #0563af;
  color: white;
  padding: 5px;
  width: 100%;
  border: none;
  font-size: 18px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.select_box::before {
  /* position: absolute;
    top: 0;
    right: 0; */
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.select_box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.select_box select option {
  padding: 30px;
}

.floating_stack {
  background: #455a64;
  color: #fff;
  height: 300px;
  width: 100%;
  border-radius: 1rem;
  overflow-y: auto;
}

.floating_stack > dl {
  margin: 0 0 1rem;
  display: grid;
  grid-template-columns: 2.5rem 1fr;
  align-items: center;
}

.floating_stack dt {
  position: sticky;
  top: 0;
  left: 0;
  font-weight: bold;
  background: #263238;
  color: #cfd8dc;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  padding: 0.25rem 1rem;
  margin: 10px;
  /* margin-bottom: 45px; */
  grid-column: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.floating_stack dd {
  grid-column: 2;
  margin: 0;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 0.75rem;
}

.floating_stack > dl:first_of_type > dd:first_of_type {
  margin-top: 0.25rem;
}

.remove_button {
  background: transparent;
  border: none;
  color: #ff0000;
  font-size: 20px;
  cursor: pointer;
  margin-left: 10px;
}

.remove_button:hover {
  color: #fff;
}
.driver_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-self: center;
  margin-bottom: 100px;
  width: 50vw;
  margin: 20px;
  transform: scale(1);
}
